<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header>
    <h1>About Our Shop</h1>
</header>

<div class="container">
    <h2>PAK QATAR INTERIORS</h2>
    <p>Welcome to PAK QATAR INTERIORS, your premier destination for stylish and functional interior design solutions. We are dedicated to creating beautiful spaces that reflect your unique taste and lifestyle.</p>

    <h2>Location</h2>
    <p>Golra Rd,Sector G13, islamabad, Pakistan</p>

    <h2>Contact</h2>
    <p>+92 307 5777969</p>
    <p>+92 315 7777969</p>
</div>

</body>
</html>
