<!DOCTYPE html>
<html>
<head>
<title>{{ design[2] }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="design-page">

    <div class="design-header">
        <h1>{{ design[2] }}</h1>
        <p>{{ design[3] }}</p>
    </div>

    <div class="design-gallery">

        <div class="main-image">
            <img src="{{ url_for('static', filename=images[0][2]) }}">
        </div>

        <div class="thumbnail-grid">
            {% for img in images %}
            <img src="{{ url_for('static', filename=img[2]) }}">
            {% endfor %}
        </div>

    </div>

</div>

</body>
</html>